<div class="class">
    <h2>
        descrição
    </h2>
    
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nesciunt optio odit quae quia inventore aspernatur autem ipsam vero maxime ducimus fugiat deleniti ex distinctio eligendi tempora quisquam suscipit iure! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum dolore minima minus et hic, nulla at autem nam quo rem reiciendis, consequatur nostrum. Perspiciatis nobis asperiores sunt veritatis earum. Cumque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem porro illum nesciunt aut sed soluta sint quas accusantium quae temporibus est, cum recusandae ipsum assumenda eligendi dolorum eum non facere! Por isso, meu time é {{ team }}</p>
</div>
